extends layout 

block content

  h1= entry.name 

  dl 
    dd= entry.desc 

     
    hr
    dt #[strong Life Period :] 
      a(href=entry.lifePeriod.url) #{entry.lifePeriod.name} 

      dt #[strong Category :] 
        each category in entry.categories 
          a(href=category.url) #{category.name} 
          |

  hr
  a(href='/catalog/dino/:id/update') Update Dino entry