extends layout 

block content

  h1= title 

  if errors 
    each err in errors
      p=err.msg


  form(action="?", method='POST', enctype="multipart/form-data")
    label Name : 
      input(type="text", name="name", required, value=entry ? entry.name : '')
    label Description :
      textarea#desc(type="text", name="desc" required) #{entry ? entry.desc : ''}
   
    if type === 'dino'
      label LifePeriod :
        select#lifePeriod(name="lifePeriod" required)
          option(value='') -- Select Life Period --  
          each lifePeriod in allLifePeriods 
            option(value=lifePeriod._id, selected=entry ? entry.lifePeriod == lifePeriod._id.toString() : false) #{lifePeriod.name}
      label Category :
        each category in allCategories
          label #{category.name}
            input(type="checkbox", name="categories", id=category._id, value=category._id, checked=category.isChecked)
      if entry && entry.img.url
        img(src=entry.img.url, alt="dino picture", srcset="")
        label Change Image : 
          input(type="file", name="image")
        label 
          label Delete Image 
            input(type="checkbox", name="deleteImg") 
      else 
        label Upload Image : 
          input(type="file", name="image") 

    if type === 'lifeperiod'
      label Time span : 
      input(type="text", name="span" value= entry ? entry.span : '' required)        
    button(type="submit") Submit