extends layout

block content
  h1= title
  p Welcome to #{title}

  h4 Current entry counts: 

  ul 
    li Dinos: #{dinoCount}
    li Categories: #{categoryCount}
    li LifePeriods: #{lifePeriodCount}
